{% load tags %}

{% if not videos %}
    {% include "error/404.html" %}
{% endif %}

<div class="movie-container">
    {% for v in videos %}

    <div class="movie-card">

        <div class="movie-banner">
            <img class="movie-poster" src="{{MEDIA_URL}}{{v.thumbnail}}"/>
            <div class="movie-header">
                <div class="header-icon-container">
                    <a href="watch/{{v.title_slug}}">
                        <i class="material-icons play-button">play_arrow</i>
                    </a>
                </div>
            </div>
        </div>
        <!--movie-content-->
        <div class="movie-content">
            <div class="movie-content-header">
                <a href="watch/{{v.title_slug}}">
                    <h3 class="movie-title">{{v.title}}</h3>
                </a>
                <!-- <div class="imax-logo"></div> -->
            </div>
            <div class="movie-info">
                <div class="info-section">
                    <label>Type</label>
					<span>{{v.category}}</span>
                </div>
                <div class="info-section">
                    <label>Genre</label>
					<span>{{v.genre_type}}</span>
                </div>
                <div class="info-section">
                    <label>Quality</label>
					<span>{{v.dimension | quality}}</span>
                </div>
                <div class="info-section">
                    <label>Time</label>
					<span>{{v.duration | duration }}</span>
                </div>
            </div>
        </div><!--movie-content-->
        
    </div> <!-- movie-card -->
    

    {% endfor %}
</div><!--container-->

