<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>


    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">


   

    <!-- video player -->
    <link href="{% static 'css/videos-js.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/video.min.js' %}"></script> 
   
    <!-- Icons & Fonts -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<style class="cp-pen-styles">@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");</style>


    <title>{% block title %} Video app home {% endblock%}</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="/" class="nav-logo">Oneiro</a>
            <ul class="nav-menu">
                {% block navbar %}

                {% endblock %}
                <li class="nav-item">
                    <a href="/" class="nav-link">Video</a>
                </li>
                <li class="nav-item">
                    <a href="/tv" class="nav-link">Tv Channels</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

{% block content %}

{% endblock %}
<script src="{% static 'js/main.js' %}"></script> 
</body>
</html>